body {
    background-image: url(https://e0.pxfuel.com/wallpapers/518/1019/desktop-wallpaper-fondos-rosa-pastel-buscar-con-google-fondos-rosas-pastel-mac.jpg);
     background-attachment: local;
}

article header{
    background-color: aliceblue;
    border: black;
   border-width: 5ch;
    margin: 0;
    border: 1em;
}

