/* Estilos globales */
body {
    font-family: 'Georgia, 'Times New Roman,Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/24/ea/b9/24eab918636e06d10002430976e98d56.jpg);
    color: #383434;
    text-shadow: #797474;
    column-count:inherit;
    animation-direction: normal;
}

/* Estilo para el encabezado del artículo */
article header {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210502/pngtree-dark-purple-marble-with-gold-sparkle-image_706226.jpg);
    color: #ffffff;
    padding: 1em 0;
    text-align: center;
    border: 4px solid  black;
    border-style:dotted;
    font-size:x-large;
    text-align: center;
    
    
    
}

/* Títulos */
h1, h2 {
    margin-bottom: 0.5em;
}

/* Fecha del artículo */
article header time {
    font-style: oblique;
    color: #000000;
    font-size: medium;
    text-decoration:dotted;
    text-indent: 5cm;
}


/* Estilos para las secciones */
section {
    background-color: #ffffffb0;
    margin: 12em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border: 2px solid black;
    column-span: 25cm;
    
    
}

/* Estilos para listas */
ul {
    padding-left: 20px;
    
}

ul ul {
    list-style-type:upper-roman
}

/* Estilos para el formulario */
form {
    background-color: #b1a8cc;
    padding: 1em;
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input[type="text"]:hover,
form input[type="email"]:hover,
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #681414;
    border-radius: 4px;
    background-color: #dababa;
    transition: background-color 1s;
    
}

form input[type="submit"] {
    background-color: #4918a3;
    color: white;
    border: 2cap solid black;
    padding: 0.7em 2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #ff0000;
}

/* Estilos para tablas */
table {
    width: 100%;
    margin-top: 1em;
    border-spacing: 2px;
}

table, th, td {
    border: 2px dashed rgb(0, 0, 0)
   
}

th, td {
    text-align: left;
    padding: 8px;
    
}

thead {
    background-color: #610c83;
    color: #ffffff;
    
}

/* Media queries para responsividad. Aún no hemos dado esto y solamente lo quiero mencionar. Busca su significado */
/* aplicar estilos diferentes a un documento HTML en función de las características del 
dispositivo en el que se visualiza la página, 
principalmente basándose en el tamaño de la pantalla y la resolución. */
@media (max-width: 600px) {
    body {
        background-color: #e3f2fd;
    }

    article header {
        padding: 0.5em 0;
    }

    form input[type="submit"] {
        width: 100%;
    }
}
