@font-face {
    font-family: 'mifuente2' ;
    src: url(../fuentes/sigmar_one.woff) format(woff2);
}

body{
    background-color: rgb(217, 233, 247);
    width: 698px;
    text-align: justify;
    margin: auto;
    
}




#contenido h1{
    font-family: mifuente2;
    text-shadow: 2px 3px black ;
    color: rgb(82, 131, 172);
    text-align: left;
   
}
#aleman  {
    float: right;
}

#aleman img{
    margin: 20px;
    height: 160px ;
    width: 120px;
}


#york  {
    float: left;
}

#york img{
    margin: 20px;
    height: 160px ;
    width: 130px;
}


#valenciano{
    
    column-count: 3;
    column-gap: 3px;
    text-align: center;

}
#valenciano p{
    float: left;
}
.lupust{
    text-align: center;
    font-family: mifuente2;
}


#contenido img{
    border: 3px solid rgb(82, 131, 172);
    padding: 6px;
}

#contenido hr{
    height: 5px;
    width: 450px;
    color: rgb(82, 131, 172); 
    background-color: rgb(82, 131, 172);
    border: 1px black solid;
    border-radius: 5px;
}
#fuentes{
    text-align: right;
    font-style: normal
}

strong{
    background-color: white;
    color: red;
    font-weight: bold;
}

#contenido i{
    text-decoration: underline;
    font-size: 19px;
    font-weight: bold;
}

#contenido time{
    color: blue;
    font-weight: lighter;
}


.p2{
    text-align: left;
    float: right;
}
.p1{
    text-align: left;
    float: left;
    width: 94%;
}

p.centrado{
    text-align: center;
}