@font-face {
    font-family: 'mifuente2' ;
    src: url(../fuentes/sigmar_one.woff) format(woff2);
}

body{
    background-color: rgb(217, 233, 247);
}

#contenido h1{
    font-family: mifuente2;
    text-shadow: 1px 1px black ;
    color: rgb(82, 131, 172);
    text-align: left;
   
}

#valenciano{
    float: left;
}
#valenciano p{
    float: left;
}
.lupust{
    text-align: center;
    font-family: mifuente2;
}