#cuadrado{
    border: 10px ridge rgb(233, 199, 7);
    height: 500px;
    width: 600px;
    margin: auto;
    margin-top: 100px;
}

#cuadrado p{
    font-size:  100px;
    background-color: rgb(241, 235, 222);
    width: 150px;
    height: 120px;
    text-align: center;
}
#a{
   
    margin: 0px 0px 0px 0px;
    padding: 3px;
}

#b{
   
    margin: -126px 0px 0px 450px;
    
}

#c{
    
    margin: 59px 00px 00px 230px;
}

#d{
    
    margin: 81px  100px 100px 0px;
}
#e{
    
    margin: -220px 0px 0px 450px;
}

