html {
    background-color: hwb(350 50% 15%);
    font-family: sans-serif ;
    hyphens: auto;
    line-height: 125%;
    text-align: justify ;
}

section {
    display: flex;
    flex-wrap:none;
}

article {
    width: 100% ;
    margin: 5px;
    padding: 15px ;
    border: black 3px solid;
    background-color: hwb(350 70% 5%);
}


