body{
    background-color: #76a0e3;
   margin: 40px;
}

#contenedor{
    background-color: aqua;
    height: 880px;
    width: 66%;
    border: 5px;
    border-radius: 5px;
    border-style: groove;
    margin: 0px auto;


}

.primero{
width: 100px;
height: 20px;
display: table-cell;
border: white 8px outset;
vertical-align: middle;


}

.segundo{
  display: table-cell;
  border: white 8px outset;
  vertical-align: middle;

 
  }

  #contenedor pre{
    position: absolute;
    top: 7%;
  }