/*Incorporamos la fuente a todo*/
@font-face {
    font-family: 'mifuente' ;
    src: url(../fuentes/slackey.woff2) format(woff2);
}

body{
    /*cuerpo en el que es el borde*/
    background-image: url(../img/violeta.png);
    margin: 20px;
    padding:0;

}

#contenedor h1{
    font-family: mifuente;
    text-align: center;
    color: rgb(84, 61, 150);
    text-shadow: 5px -5px 5px white ;
    margin:0px ;
    line-height: 1.5em;
}
#contenido{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    background-color: rgb(157, 202, 240);
}

hr{
    height: 2px;
    background-image: url(../img/violeta.png); 
    border: none;
    margin-bottom: 20px;
}
#contenedor { /*div que globaliza todo*/
    width: 845px;
    height: 1150px;
    margin: 0px auto;
    background-image:url(../img/violeta.png); ;
}

#yogi{
    width: 100%;
    background-color: white;
    height: 150px;
    overflow: auto;

}


#yogi p {
 float: left;
 width: 78%;
 text-align: justify;
 font-size: 0.95rem;
 font-weight: 700;
 margin-top: 5px;
 margin-left: 10px;
 padding: 0px;
}

#marco{
    float: left;
    padding: 5px;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 5px;
}

#marco img{
    height: 110px;
    width: 110px;
}


.parrafo_1{
    background-color: rgb(255, 125, 3);
    color: white;
    border-style: dashed;
    border-color: white;
    margin-left: 70px;
}

.parrafo_2{
    color: black;
    background-image: url(../img/verde.png);
    border-radius: 15px;
    margin-left: 100px;
    text-align: center;
}

.parrafo_3{
    color: white;
    background-color: rgb(185, 101, 22);
    border-style: none solid;
    border-color: white;
    margin-left: 130px;
}

p[class="parrafo_1"]::first-letter{
    color: black;
}

p[class^="parrafo"]{
    width: 520px;
    padding: 5px;
    font-size: 1.6rem;
}

.parrafo_4{
    color: black;
    background-image: url(../img/verde.png);
    border-radius: 15px;
    margin-left: 100px;
    text-align: center;
}

.parrafo_5{
    background-color: rgb(255, 125, 3);
    color: white;
    border-style: dashed;
    border-color: white;
    margin-left: 70px;
}

p[class="parrafo_5"]::first-letter{
    color: black;
}

.parrafo_6{
    color: black;
    background-image: url(../img/verde.png);
    border-radius: 15px;
    margin-left: 100px;
    text-align: center;
}

.parrafo_7{
    color: white;
    background-color: rgb(185, 101, 22);
    border-style: none solid;
    border-color: white;
    margin-left: 130px;
}

.parrafo_8{
    color: black;
    background-image: url(../img/verde.png);
    border-radius: 15px;
    margin-left: 100px;
    text-align: center;
}

.parrafo_9{
    background-color: rgb(255, 125, 3);
    color: white;
    border-style: dashed;
    border-color: white;
    margin-left: 70px;
}

p[class="parrafo_9"]::first-letter{
    color: black;
}